<template>
  <b-modal :active.sync="isActive" has-modal-card>
    <div class="modal-card" style="max-width: 80%; margin: 0 auto;">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ title }}</p>
      </header>
      <section class="modal-card-body">
        <b-field label="Текущий статус тарифа:">
          <b-select
            v-model="selectedStatus"
            :disabled="isTariffAdding"
            placeholder="Выберите статус"
            expanded
          >
            <option
              v-for="(item, key) in statuses"
              :value="key"
              :key="key"
            >
              {{ item.name }}
            </option>
          </b-select>
        </b-field>

        <b-field
          label="Тарифный план:"
          :type="{ 'is-danger': selectedTariffErrors.length }"
          :message="selectedTariffErrors"
        >
          <b-select
            v-model="selectedTariff"
            :disabled="isTariffAdding"
            placeholder="Выберите тариф"
            expanded
          >
            <option
              v-for="(item, key) in tariffs"
              :value="key"
              :key="key"
            >
              {{ item.name }}
            </option>
          </b-select>
        </b-field>

        <b-field label="Цена в USD:">
          <b-input
            type="text"
            :value="priceUSD | number_format"
            :disabled="true"
          />
        </b-field>

        <b-field
          v-if="statuses[selectedStatus].weight > 0"
          label="Оплачено в тенге:"
          :type="{ 'is-danger': amountTNGErrors.length }"
          :message="amountTNGErrors"
        >
          <b-input
            type="text"
            v-model="amountTNG"
            placeholder="от 100 000 до 5 000 000"
            :disabled="isTariffAdding"
          />
        </b-field>

        <b-field
          v-if="statuses[selectedStatus].weight > 0"
          label="Дата совершения оплаты:"
          :type="{ 'is-danger': attemptedAtErrors.length }"
          :message="attemptedAtErrors"
        >
          <date-picker
            v-model="attemptedAt"
            :years-range="[-50, 50]"
            :max-date="maxDate"
            :min-date="minDate"
            :focused-date="maxDate"
            :disabled="isTariffAdding"
            placeholder="Выберите когда оплата была совершена"
          >
          </date-picker>
        </b-field>

        <b-field
          v-if="statuses[selectedStatus].weight > 1"
          label="Дата подтверждения оплаты:"
          :type="{ 'is-danger': paymentConfirmedAtErrors.length }"
          :message="paymentConfirmedAtErrors"
        >
          <date-picker
            v-model="paymentConfirmedAt"
            :years-range="[-50, 50]"
            :max-date="maxDate"
            :min-date="minDate"
            :focused-date="maxDate"
            :disabled="isTariffAdding"
            placeholder="Выберите когда оплата была подтверждена"
          >
          </date-picker>
        </b-field>

        <b-field
          v-if="statuses[selectedStatus].weight > 2"
          label="Дата запуска рекламы:"
          :type="{ 'is-danger': adRunnedAtErrors.length }"
          :message="adRunnedAtErrors"
        >
          <date-picker
            v-model="adRunnedAt"
            :years-range="[-50, 50]"
            :max-date="maxDate"
            :min-date="minDate"
            :focused-date="maxDate"
            :disabled="isTariffAdding"
            placeholder="Выберите когда реклама была запущена"
          >
          </date-picker>
        </b-field>

        <b-field
          v-if="selectedStatus === 'paused'"
          label="Дата приостановки рекламы:"
          :type="{ 'is-danger': adStoppedAtErrors.length }"
          :message="adStoppedAtErrors"
        >
          <date-picker
            v-model="adStoppedAt"
            :years-range="[-50, 50]"
            :max-date="maxDate"
            :min-date="minDate"
            :focused-date="maxDate"
            :disabled="isTariffAdding"
            placeholder="Выберите когда реклама была приостановлена"
          >
          </date-picker>
        </b-field>

        <b-field
          v-if="selectedStatus === 'processed'"
          label="Дата отработки рекламы:"
          :type="{ 'is-danger': adExpiredAtErrors.length }"
          :message="adExpiredAtErrors"
        >
          <date-picker
            v-model="adExpiredAt"
            :years-range="[-50, 50]"
            :max-date="maxDate"
            :min-date="minDate"
            :focused-date="maxDate"
            :disabled="isTariffAdding"
            placeholder="Выберите когда реклама была отработана"
          >
          </date-picker>
        </b-field>
      </section>

      <footer class="modal-card-foot">
        <button
          type="button"
          class="button"
          :disabled="isTariffAdding"
          @click="isActive = false"
        >
          <span class="icon">
            <i class="mdi mdi-cancel"></i>
          </span>
          <span>{{ $t("page-admin-clients.button-cancel") }}</span>
        </button>
        <button
          type="button"
          :class="['button is-success', { 'is-loading': isTariffAdding }]"
          :disabled="isTariffAdding"
          @click.prevent="addOrEditTariff"
        >
          <span class="icon">
            <i class="mdi mdi-check"></i>
          </span>
          <span>{{ $t("page-admin-clients.button-save") }}</span>
        </button>
      </footer>
    </div>
  </b-modal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { required, between, decimal } from 'vuelidate/lib/validators';

const AMOUNT_MIN_VALUE = 100000;
const AMOUNT_MAX_VALUE = 5000000;

export default {
  props: {
    isOpened: {
      type: Boolean,
      required: true,
    },

    tariffData: {
      type: Object,
      required: true,
    },
  },

  components: {
    DatePicker: () => import('@/views/blocks/date-picker.vue'),
  },

  data() {
    return {
      statuses: {
        notPaid: {
          name: 'Не оплачен',
          weight: 0,
        },
        pending: {
          name: 'Ожидание подтверждения оплаты',
          weight: 1,
        },
        received: {
          name: 'Оплата поступила',
          weight: 2,
        },
        launched: {
          name: 'Реклама запущена',
          weight: 3,
        },
        paused: {
          name: 'Реклама приостановлена',
          weight: 4,
        },
        processed: {
          name: 'Реклама отработана',
          weight: 5,
        },
      },
      tariffs: {
        standard: {
          name: 'Standard',
          price: 300,
        },
        standardPlus: {
          name: 'Standard Plus',
          price: 500,
        },
        business: {
          name: 'Business',
          price: 1000,
        },
        businessPlus: {
          name: 'Business Plus',
          price: 3000,
        },
        premium: {
          name: 'Premium',
          price: 5000,
        },
        premiumPlus: {
          name: 'Premium Plus',
          price: 10000,
        },
      },
      selectedStatus: 'notPaid',
      selectedTariff: null,
      amountTNG: '',
      attemptedAt: null,
      paymentConfirmedAt: null,
      adRunnedAt: null,
      adStoppedAt: null,
      adExpiredAt: null,
    };
  },

  validations() {
    let validations = {
      selectedTariff: {
        required,
      },
    };

    if (this.statuses[this.selectedStatus].weight > 0) {
      validations = {
        ...validations,
        amountTNG: {
          required,
          between: between(AMOUNT_MIN_VALUE, AMOUNT_MAX_VALUE),
          decimal,
        },
      };
    }

    if (this.statuses[this.selectedStatus].weight > 0) {
      validations = {
        ...validations,
        attemptedAt: {
          required,
        },
      };
    }

    if (this.statuses[this.selectedStatus].weight > 1) {
      validations = {
        ...validations,
        paymentConfirmedAt: {
          required,
        },
      };
    }

    if (this.statuses[this.selectedStatus].weight > 2) {
      validations = {
        ...validations,
        adRunnedAt: {
          required,
        },
      };
    }

    if (this.selectedStatus === 'paused') {
      validations = {
        ...validations,
        adStoppedAt: {
          required,
        },
      };
    }

    if (this.selectedStatus === 'processed') {
      validations = {
        ...validations,
        adExpiredAt: {
          required,
        },
      };
    }

    return validations;
  },

  computed: {
    ...mapState('admin/clients', [
      'isTariffAdding',
      'isTariffAddingError',
    ]),

    priceUSD() {
      return (this.tariffs[this.selectedTariff] && this.tariffs[this.selectedTariff].price) || 0;
    },

    title() {
      return this.tariffData.type === 'creating' ? 'Создание тарифа' : 'Редактирование тарифа';
    },

    isActive: {
      get() {
        return this.isOpened;
      },

      set(value) {
        if (!value && !this.isTariffAdding) {
          this.$emit('close');
        }
      },
    },

    selectedTariffErrors() {
      const errors = [];

      if (!this.$v.selectedTariff) return errors;
      if (!this.$v.selectedTariff.$dirty) return errors;
      if (!this.$v.selectedTariff.required) errors.push(this.$t('block-errors.field-is-required'));

      return errors;
    },

    amountTNGErrors() {
      const errors = [];

      if (!this.$v.amountTNG) return errors;
      if (!this.$v.amountTNG.$dirty) return errors;
      if (!this.$v.amountTNG.required) errors.push('Поле обязательно для заполнения');
      if (!this.$v.amountTNG.between) errors.push('Значение должно быть между 100 000 и 5 000 000');
      if (!this.$v.amountTNG.decimal) errors.push('Поле должно содержать только цифры');

      return errors;
    },

    attemptedAtErrors() {
      const errors = [];

      if (!this.$v.attemptedAt) return errors;
      if (!this.$v.attemptedAt.$dirty) return errors;
      if (!this.$v.attemptedAt.required) errors.push(this.$t('block-errors.field-is-required'));

      return errors;
    },

    paymentConfirmedAtErrors() {
      const errors = [];

      if (!this.$v.paymentConfirmedAt) return errors;
      if (!this.$v.paymentConfirmedAt.$dirty) return errors;
      if (!this.$v.paymentConfirmedAt.required) errors.push(this.$t('block-errors.field-is-required'));

      return errors;
    },

    adRunnedAtErrors() {
      const errors = [];

      if (!this.$v.adRunnedAt) return errors;
      if (!this.$v.adRunnedAt.$dirty) return errors;
      if (!this.$v.adRunnedAt.required) errors.push(this.$t('block-errors.field-is-required'));

      return errors;
    },

    adStoppedAtErrors() {
      const errors = [];

      if (!this.$v.adStoppedAt) return errors;
      if (!this.$v.adStoppedAt.$dirty) return errors;
      if (!this.$v.adStoppedAt.required) errors.push(this.$t('block-errors.field-is-required'));

      return errors;
    },

    adExpiredAtErrors() {
      const errors = [];

      if (!this.$v.adExpiredAt) return errors;
      if (!this.$v.adExpiredAt.$dirty) return errors;
      if (!this.$v.adExpiredAt.required) errors.push(this.$t('block-errors.field-is-required'));

      return errors;
    },

    minDate() {
      return new Date(2019, 3, 1);
    },

    maxDate() {
      return new Date();
    },
  },

  methods: {
    ...mapActions('admin/clients', {
      addTariff: 'ADD_TARIFF',
    }),

    addOrEditTariff() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.addTariff({
          uid: this.tariffData.cid,
          priceUSD: this.priceUSD,
          tariff: this.tariffs[this.selectedTariff].name,
          amountTNG: this.amountTNG,

          isAttemptedToPay: this.statuses[this.selectedStatus].weight > 0,
          isPaymentConfirmed: this.statuses[this.selectedStatus].weight > 1,
          isAdRunning: this.selectedStatus === 'launched',
          isAdStopped: this.selectedStatus === 'paused',
          isAdExpired: this.selectedStatus === 'processed',

          attemptedAt: this.attemptedAt,
          paymentConfirmedAt: this.paymentConfirmedAt,
          adRunnedAt: this.adRunnedAt,
          adStoppedAt: this.adStoppedAt,
          adExpiredAt: this.adExpiredAt,

          createdAt: new Date(),
          updatedAt: null,

          createdBy: this.$_user.uid,
          updatedBy: null,
        })
          .then((response) => {
            if (response) {
              this.selectedStatus = 'notPaid';
              this.selectedTariff = null;
              this.amountTNG = '';
              this.attemptedAt = null;
              this.paymentConfirmedAt = null;
              this.adRunnedAt = null;
              this.adStoppedAt = null;
              this.adExpiredAt = null;
              this.isActive = false;
              this.$v.$reset();
            }
          });
      }
    },
  },
};
</script>
