<template>
  <div class="admin-clients__tariffs">
    <b-loading :is-full-page="false" :active="isLoading"></b-loading>

    <h3 class="is-size-4">Тарифы</h3>

    <div
      v-if="!error && isLoading"
      class="admin-clients__tariffs-loading"
    >
      <p>{{ $t('page-admin-clients.loading') }}</p>
    </div>

    <div
      v-if="error && !isLoading"
      class="admin-clients__tariffs-error"
    >
      <p>{{ $t('page-admin-clients.an-error-occurred') }}</p>
    </div>

    <div
      v-if="!error && !isLoading && isTariffsNotFound"
      class="admin-clients__tariffs-not-found"
    >
      <p>{{ $t('page-admin-clients.business-places-not-found') }}</p>

      <b-button
        type="is-success"
        icon-left="briefcase-plus"
        @click.prevent="$emit('open-client-tariff-dialog', { type: 'creating' })"
      >
        Добавить тариф
      </b-button>
    </div>

    <div
      class="admin-clients__tariffs-content"
      v-if="!error && !isLoading && !isTariffsNotFound"
    >
      <span class="admin-clients__tariffs-item" v-for="(item, key) in userTariffs" :key="key">
        <span class="admin-clients__tariffs-name">
          {{ item.tariff }}
        </span>
        <span class="admin-clients__tariffs-price">
          {{ item.priceUSD | currency_format }}
        </span>
        <span class="admin-clients__tariffs-status">
          <span :class="['tag', `is-${getStatus(item).class}`]">
            {{ getStatus(item).text }}
          </span>
        </span>
      </span>
    </div>

    <div
      v-if="!error && !isLoading && !isTariffsNotFound"
      class="admin-clients__tariffs-add-new"
    >
      <b-button
        type="is-success"
        icon-left="briefcase-plus"
        @click.prevent="$emit('open-client-tariff-dialog', { type: 'creating' })"
      >
        Добавить еще один тариф
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import StatusMixin from '@/utils/mixins/tariff-status';

export default {
  mixins: [StatusMixin],

  props: {
    cid: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      isLoading: false,
      error: null,
    };
  },

  computed: {
    ...mapState('admin/tariff', ['items']),

    userTariffs() {
      return this.items.filter(item => item.uid === this.cid);
    },

    isTariffsNotFound() {
      return this.userTariffs.length === 0;
    },
  },

  mounted() {

  },
};
</script>

<style lang="scss">
@import '~bulma/sass/utilities/initial-variables.sass';

.admin-clients__tariffs {
  padding: 1rem .5rem .5rem;
  position: relative;
  background-color: #c8dbe8;

  h3 {
    text-align: center;
  }

  &-error {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 160px;
    background-color: red;
  }

  &-loading,
  &-not-found,
  &-add-new {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 160px;
  }

  &-not-found {
    display: block;
    padding: 3rem 0;
  }

  &-content {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.125;
    flex-wrap: wrap;
  }

  @media (max-width: $desktop) {
    display: block;
  }

  &-item {
    flex: 0 0 calc(50% - 1rem);
    background-color: #7c98ab;
    color: #fff;
    margin: .5rem;

    @media (max-width: $desktop) {
      display: block;
    }
  }

  &-name {
    display: block;
    padding: 3rem 1rem 0;

    @media (max-width: $desktop) {
      padding: 1.5rem 1rem 0;
    }
  }

  &-price {
    display: block;
    padding: .5rem;
    font-size: 1.1rem;
    font-weight: 600;
  }

  &-status {
    display: block;
    padding: .5rem .5rem 3rem;

    @media (max-width: $desktop) {
      padding: .5rem .5rem 1.5rem;
    }
  }
}
</style>
