<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Automaton.bz</title>
  <meta name="description" content="Автоматизируй свой бизнес! Automate your business!">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <script src="https://yastatic.net/share2/share.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.css" crossorigin="anonymous">

  <meta property="og:title" content="Automaton.bz" />
  <meta property="og:description" content="Автоматизируй свой бизнес!" />
  <meta property="og:image" content="https://automaton.bz/favicon.svg" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content= "https://automaton.bz" />

</head>
<body class="sidebar_hide header_position_over mobile_device">
  <noscript>
    <strong>We're sorry but Automaton doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>

  <div id="app">
    <div class="pageloader is-active"></div>
  </div>

  <div id="recaptcha-container"></div>

  <style>
    @-webkit-keyframes spinAround {
      from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
      }
      to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
      }
    }

    @keyframes spinAround {
      from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
      }
      to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
      }
    }

    .pageloader {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .pageloader {
      position: fixed;
      padding-top: 2em;
      background: #050726;
      z-index: 999998;
      transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
      will-change: transform;
    }


    .pageloader:not(.is-left-to-right),
    .pageloader:not(.is-right-to-left) {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }

    .pageloader.is-active:not(.is-left-to-right),
    .pageloader.is-active:not(.is-right-to-left) {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    .pageloader::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      border-radius: 100%;
      content: "";
      z-index: 9999;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      box-sizing: border-box;
      border: 0 solid #fff;
      -webkit-animation: loader-figure 1.15s infinite
      cubic-bezier(0.215, 0.61, 0.355, 1);
      animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .pageloader .title {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      margin: 2em 0 0 0;
      font-size: 0.875em;
      letter-spacing: 0.1em;
      line-height: 1.5em;
      color: #fff;
      white-space: nowrap;
    }

    @-webkit-keyframes loader-figure {
      0% {
        height: 0;
        width: 0;
        background-color: #fff;
      }
      29% {
        background-color: #fff;
      }
      30% {
        height: 2em;
        width: 2em;
        background-color: transparent;
        border-width: 1em;
        opacity: 1;
      }
      100% {
        height: 2em;
        width: 2em;
        border-width: 0;
        opacity: 0;
        background-color: transparent;
      }
    }

    @keyframes loader-figure {
      0% {
        height: 0;
        width: 0;
        background-color: #fff;
      }
      29% {
        background-color: #fff;
      }
      30% {
        height: 2em;
        width: 2em;
        background-color: transparent;
        border-width: 1em;
        opacity: 1;
      }
      100% {
        height: 2em;
        width: 2em;
        border-width: 0;
        opacity: 0;
        background-color: transparent;
      }
    }
  </style>

  <script>
    function jivo_onLoadCallback() {
      document.dispatchEvent(new CustomEvent('jivoSiteLoaded'));
    }

    function jivo_onResizeCallback() {
      document.dispatchEvent(new CustomEvent('jivoSiteResized'));
    }

    function jivo_onChangeState(state) {
      document.dispatchEvent(new CustomEvent('jivoSiteChangedState', { detail: { state: state } }));
    }
  </script>

  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '497865697521309');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=497865697521309&ev=PageView&noscript=1"
  /></noscript>
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(56816047, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/56816047" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>
</html>
